@import "reset";

header{
  height:100px;
  position:fixed;
  width:100%;
  z-index:100;

  nav{
    position:absolute;
    left:50px;
    top:35px;
    height:50px;

    ul{


      li{
        display:inline-block;
        padding:0px 60px 0px 0px;
        line-height:50px;
        font-size:18px;

        a{
          color:$secondary-text-color;
          text-decoration:none;
          font-family:$montserratregular;
          text-transform:uppercase;
        }

        a:hover{
          color:$secondary-text-color-hover;
          text-decoration:none;
        }
      }
    }
  }

  #logo{
    position:absolute;
    width:200px;
    left:calc(50vw - 100px);
    text-align:center;
    margin-top:35px;

    a{
      color:$primary-text-color;
      font-size:50px;
      font-family:$montserratbold;
      text-decoration:none;
      line-height:50px;
    }
  }
}

*, :after, :before {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

section.viewport{

  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  #scrollcontainer {

    > div{
      width:100%;
    }
  }
}

article.bloc_text {
   position: relative;
   background-size: cover;
   background-position: center;
   width: 100%;
  padding:200px 0px;

  .titre_bloc_video{
    line-height: 30px;
    text-align: justify;
    width: 100%;
    text-decoration: none;
    font-family: 'montserratregular';
    text-transform: uppercase;
    font-size: 20px;

    strong{
      font-family: 'montserratbold';
    }
  }
 }

article.bloc_video{
  position:relative;
  background-size:cover;
  background-position:center;
  width:100%;

  .bloc-video-content{
    height:100px;
    position:absolute;
    top:calc(50% - 50px);
    width:100%;
    cursor:pointer;

    .titre_bloc_video{
      line-height:50px;
      text-align:center;
      width:100%;
      color:$secondary-text-color;
      text-decoration:none;
      font-family:$montserratbold;
      text-transform:uppercase;
      font-size:30px;
    }

    .sstitre_bloc_video{
      line-height:auto;
      text-align:center;
      width:100%;
      color:$secondary-text-color;
      text-decoration:none;
      font-family:$montserratregular;
      text-transform:uppercase;
      font-size:16px;
    }

  }

  .popin-video {
    height:100vh;
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    visibility:hidden;
    z-index:-10;

    .popin-video-content {
      position:relative;
      height:100vh;
      background:#000;
      text-align:center;

      video {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        outline:0;
      }

      .video-controls {
        position: absolute;
        height: 50px;
        width: 50%;
        bottom: 0px;
        right: 0px;
        z-index: 10;
        text-align:right;
        line-height:20px;
        padding-right:50px;
        display:none;

        button {
          background: none;
          border: 0px;
          color: #BBB;
          display: inline-block;
          line-height: 50px;
        }

        button:focus {
          outline: 0;
        }

        progress {
          display: inline-block;
          height: 3px;
          line-height: 50px;
          width: 250px;
          margin-bottom: 5px;
        }

        progress::-webkit-progress-value {
          background-color: #ddd;
        }

        .video-time{
          display: inline-block;
          margin:0px 10px;

          .curtimetext, .durtimetext{
            color:#fff;
            text-align: center;
            text-decoration: none;
            font-family: $montserratregular;
            font-size: 13px;
            line-height:16px;
            display: inline-block;
            width:45px;
          }
        }
      }
    }
  }
}

.tx-powermail{
  margin: 0px;
  height:60vh;
  padding-top:calc((60vh - 260px) /2);

  form{
    width:800px;
    margin:0px auto;

    h3{
      display:none;
    }

    fieldset{
      overflow:hidden;

      legend{
        text-align:center;
        font-family:$montserratregular;
        font-size:24px;
        margin-bottom:40px;
      }

      label{
        font-family:$montserratregular;
        font-size:14px;
        margin:10px 0px;
      }

      .powermail_fieldwrap_type_input{
        width:48%;
        float:left;
        margin:1%;

        input{
          width:100%;
          border:0px;
          border-bottom:1px solid #bbb;
          font-family:$montserratregular;
          font-size:14px;
          font-style:italic;
          padding:3px 0px;
        }
      }

      .powermail_fieldwrap_type_submit{
        text-align:right;
        padding-top:20px;

        input{
          border:0px;
          border-bottom:1px solid #bbb;
          font-family:$montserratbold;
          font-size:14px;
          padding:10px 20px;
          background:none;
        }

      }
    }

    .powermail_fieldwrap_type_textarea{
      width:98%;
      margin:1%;
      padding-top:20px;
      overflow:hidden;

      textarea{
        width:100%;
        border:0px;
        border-bottom:1px solid #bbb;
        font-family:$montserratregular;
        font-size:14px;
        font-style:italic;
        padding:3px 0px;
      }
    }
  }
}

footer{
  background:#000;
  font-size:14px;
  font-family:$montserratbold;
  text-align:center;
  color:#fff;
  padding:0px;
  height:40vh;
  padding-top:calc((40vh - 215px) /2);

  .footer-top{

  }

  .footer-middle{
    margin:50px 0px;

    ul{
      li{
        display:inline-block;
        margin:0px 10px;

        i{
          width:30px;
          height:30px;
          color:#fff;
        }
      }
    }
  }

  .footer-bottom{
    font-family:$montserratregular;
    font-size:12px;
  }
}

.tab-video{
  position:relative;

  .bloc-video-content{
    height:100px;
    position:absolute;
    top:calc(50% - 50px);
    width:100%;
    cursor:pointer;
    z-index:100;

    .titre_bloc_video{
      line-height:50px;
      text-align:center;
      width:100%;
      color:$secondary-text-color;
      text-decoration:none;
      font-family:$montserratbold;
      text-transform:uppercase;
      font-size:30px;
    }

    .sstitre_bloc_video{
      line-height:auto;
      text-align:center;
      width:100%;
      color:$secondary-text-color;
      text-decoration:none;
      font-family:$montserratregular;
      text-transform:uppercase;
      font-size:16px;
    }

  }
}