html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100; }
  header nav {
    position: absolute;
    left: 50px;
    top: 35px;
    height: 50px; }
    header nav ul li {
      display: inline-block;
      padding: 0px 60px 0px 0px;
      line-height: 50px;
      font-size: 18px; }
      header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-family: 'montserratregular';
        text-transform: uppercase; }
      header nav ul li a:hover {
        color: #ddd;
        text-decoration: none; }
  header #logo {
    position: absolute;
    width: 200px;
    left: calc(50vw - 100px);
    text-align: center;
    margin-top: 35px; }
    header #logo a {
      color: #da0c16;
      font-size: 50px;
      font-family: 'montserratbold';
      text-decoration: none;
      line-height: 50px; }

*, :after, :before {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  overflow-y: scroll; }

section.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  section.viewport #scrollcontainer > div {
    width: 100%; }

article.bloc_video {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%; }
  article.bloc_video .bloc-video-content {
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    width: 100%;
    cursor: pointer; }
    article.bloc_video .bloc-video-content .titre_bloc_video {
      line-height: 50px;
      text-align: center;
      width: 100%;
      color: #fff;
      text-decoration: none;
      font-family: 'montserratbold';
      text-transform: uppercase;
      font-size: 30px; }
    article.bloc_video .bloc-video-content .sstitre_bloc_video {
      line-height: auto;
      text-align: center;
      width: 100%;
      color: #fff;
      text-decoration: none;
      font-family: 'montserratregular';
      text-transform: uppercase;
      font-size: 16px; }
  article.bloc_video .popin-video {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    visibility: hidden;
    z-index: -10; }
    article.bloc_video .popin-video .popin-video-content {
      position: relative;
      height: 100vh;
      background: #000;
      text-align: center; }
      article.bloc_video .popin-video .popin-video-content video {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        width: auto; }
      article.bloc_video .popin-video .popin-video-content .video-controls {
        position: absolute;
        height: 50px;
        width: 50%;
        bottom: 0px;
        right: 0px;
        z-index: 10;
        text-align: right;
        line-height: 20px;
        padding-right: 50px; }
      article.bloc_video .popin-video .popin-video-content .video-controls button {
        background: none;
        border: 0px;
        color: #bbb;
        display: inline-block;
        line-height: 50px; }
      article.bloc_video .popin-video .popin-video-content .video-controls button:focus {
        outline: 0; }
      article.bloc_video .popin-video .popin-video-content .video-controls progress {
        display: inline-block;
        height: 3px;
        line-height: 50px;
        width: 250px;
        margin-bottom: 5px; }
      article.bloc_video .popin-video .popin-video-content .video-controls progress::-webkit-progress-value {
        background-color: #ddd; }
      article.bloc_video .popin-video .popin-video-content .video-controls .video-time {
        display: inline-block;
        margin: 0px 10px; }
        article.bloc_video .popin-video .popin-video-content .video-controls .video-time .curtimetext, article.bloc_video .popin-video .popin-video-content .video-controls .video-time .durtimetext {
          color: #fff;
          text-align: center;
          text-decoration: none;
          font-family: 'montserratregular';
          font-size: 13px;
          line-height: 16px;
          display: inline-block; }
