@font-face {
  font-family: 'nunitobold';
  src: url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
  url('../fonts/nunito-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitosemibold_italic';
  src: url('../fonts/nunito-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/nunito-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitosemibold';
  src: url('../fonts/nunito-semibold-webfont.woff2') format('woff2'),
  url('../fonts/nunito-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoitalic';
  src: url('../fonts/nunito-italic-webfont.woff2') format('woff2'),
  url('../fonts/nunito-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoregular';
  src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
  url('../fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitolight_italic';
  src: url('../fonts/nunito-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/nunito-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitolight';
  src: url('../fonts/nunito-light-webfont.woff2') format('woff2'),
  url('../fonts/nunito-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat_blackregular';
  src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat_extraboldregular';
  src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat_semiboldregular';
  src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat_mediumregular';
  src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratitalic';
  src: url('../fonts/montserrat-italic-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat_lightregular';
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat_extralightregular';
  src: url('../fonts/montserrat-extralight-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat_thinregular';
  src: url('../fonts/montserrat-thin-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'linotte-semibolduploaded_file';
  src: url('../fonts/linotte_semi_bold-webfont.woff2') format('woff2'),
  url('../fonts/linotte_semi_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'linotte-regularuploaded_file';
  src: url('../fonts/linotte_regular-webfont.woff2') format('woff2'),
  url('../fonts/linotte_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'linotte-lightuploaded_file';
  src: url('../fonts/linotte_light-webfont.woff2') format('woff2'),
  url('../fonts/linotte_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'linotte-heavyuploaded_file';
  src: url('../fonts/linotte_heavy-webfont.woff2') format('woff2'),
  url('../fonts/linotte_heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'linotte-bolduploaded_file';
  src: url('../fonts/linotte_bold-webfont.woff2') format('woff2'),
  url('../fonts/linotte_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'linottesemibold';
  src: url('../fonts/linotte-semibold-webfont.woff2') format('woff2'),
  url('../fonts/linotte-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}